{% if page.title != "home" %}
<div class="header solid">
{% else %} 
<div class="header">
{% endif %}
  <div class="container">
    <a href="{{site.baseurl}}/index.html" class="logo"><i class="fa fa-gears"></i></a>

    <ul id="sn" class="main_menu">
      <li><a href="{{site.baseurl}}/index.html#top">Home</a></li>
      <li><a href="{{site.baseurl}}/index.html#usp">What I Do</a></li>
      <li><a href="{{site.baseurl}}/index.html#media">Media</a></li>
      <li><a href="{{site.baseurl}}/index.html#portfolio">Experience</a></li>
      <li><a href="/blog">Blog</a></li>

      <li class='social'>
        <a href='mailto:jmmastey@gmail.com' class='fa fa-envelope-o'> </a>
        <a href='https://www.linkedin.com/pub/joe-mastey/b5/b61/500' class='fa fa-linkedin-square'> </a>
        <a href='https://twitter.com/jmmastey' class='fa fa-twitter-square'> </a>
      </li>
    </ul>

  </div>
</div>