<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel='stylesheet' href="assets/css/scripts.css" />
  <link rel='stylesheet' href="assets/css/font-awesome.css" />
  <link rel='stylesheet' href="assets/css/base.css" />
  <link rel='stylesheet' href="assets/css/grid.css" />
  <link rel='stylesheet' href="assets/css/themestyle.css" />
  <link rel='stylesheet' href="assets/css/layout.css" />
  <link rel='stylesheet' href="assets/css/switcher.css" />
  <link rel='stylesheet' href="assets/css/colors.css" />

  <link rel='stylesheet' href="assets/css/bx-slider.css" />
  <link rel='stylesheet' href="assets/css/syntax-highlighting.css" />

  <script src='assets/javascript/jquery.min.js'></script>
  <script src='assets/javascript/jquery.switcher.js'></script>
  <script src='assets/javascript/plugins.js'></script>
  <script src='assets/javascript/scripts.js'></script>
  <script src='assets/javascript/modernizr-2.6.2.min.js'></script>
  <script src='assets/javascript/main.js'></script>

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/images/touch/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="assets/favicon.ico">
</head>
