---
layout: default
---
  <div class="blog-single page">

    <div class="container">
      <div class="blog-main three-fourths">

        <article class="blog-post single">
          <div class="blog-date">
            <div>{{page.date | date_to_string | slice: 3, 4}}</div>
            <div class="day">{{page.date | date_to_string | slice: 0, 2}}</div>
          </div>  

          <img class="main-image" src="{{page.image}}" alt="">
          <h3 class="blog-title">{{ page.title }}</h3>
          <p><strong>Time to Read: {{ content | reading_time_as_s }}</strong></p>

          {{content}}

          <div> Tags:
            {% for tag in page.tags %}
              <a href="{{site.baseurl}}/tag/{{ tag[0] | slugify }}"> {{ tag[0] }} </a> |
            {% endfor %}
          </div>
        </article><!-- End .blog-post -->


        <!-- RECENT POSTS -->
        <div class="recent-posts clearfix">
            
          <h4 class="sub-title">Recent Posts</h4>
          {% for post in site.posts limit:1 %}
          <div class="one-half">
            <div class="post-date animated">
              <div>{{post.date | date_to_string | slice: 3, 4}}</div>
            <div class="day">{{post.date | date_to_string | slice: 0, 2}}</div>
            </div>
            <!-- End post-date -->
            <div class="post-content">
              <h5 class="title"><a href="single-post.html">{{post.title}}</a></h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, qui?</p>
            </div><!-- content -->
          </div><!-- End .one-half -->
          {% endfor %}
          {% for post in site.posts limit:1 offset:1%}
          <div class="one-half last">
            <div class="post-date animated" data-animate="fadeInDown" data-animate-delay="1000">
              <div>{{post.date | date_to_string | slice: 3, 4}}</div>
            <div class="day">{{post.date | date_to_string | slice: 0, 2}}</div>
            </div><!-- End post-date -->
            <div class="post-content">
              <h5 class="title"><a href="single-post.html">{{post.title}}</a></h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, provident.</p>
            </div><!-- content -->
          </div><!-- End .one-half -->
          {% endfor %}
        </div><!-- End .recent-posts -->
        
      </div><!-- End .three-fourths -->

      <!-- Sidebar -->
      <aside class="aside one-fourth last">
            
        <div class="widgets">

          <div class="widget">
            <h5 class="sub-title">About</h5>
            <p>Subscribe to receive articles about apprenticeship, learning and mentoring effectively, and creating the kinds of cultures that support excellent craftsmanship.</p>
            {% include mailchimp.html%}
          </div><!-- End .widget -->
          
          <div class="widget">
            <h5 class="sub-title">Categories</h5>
            <ul class="categories">
              {% for category in site.categories %}
              <li><i class="fa fa-angle-right"></i><a href="#">{{category[0] | titleize}}</a></li>
              {% endfor %}
            </ul>
          </div><!-- End .widget -->        

          <div class="widget">
            <h5 class="sub-title">Popular</h5>
            <ul class="categories">
            {% for post in site.posts %}
              <li><i class="fa fa-angle-right"></i><a href="{{post.url}}">{{post.title}}</a></li>
              {% endfor %}
            </ul>
          </div><!-- End .widget -->  
          
          <div class="widget tags">
          <h5 class="sub-title">Popular Tags</h5>
            {% for tag in site.tags %}
            <a href="{{site.baseurl}}/tag/{{ tag[0] | slugify }}"> {{ tag[0] }} </a>
          {% endfor %}
          </div><!-- End .widget -->
        </div>  <!-- End .widgets -->

      </aside><!-- End .one-fourth -->
      <!-- End Sidebar -->

      </div><!-- End .container -->
    </div><!-- End .sect-4 -->
