---
layout: default
---
  <div class="blog-single page">

    <div class="container">
      <div class="blog-main three-fourths">

        <article class="blog-post single">
          <div class="blog-date">
            <div>{{page.date | date_to_string | slice: 3, 4}}</div>
            <div class="day">{{page.date | date_to_string | slice: 0, 2}}</div>
          </div>  

          <img class="main-image" src="{{page.image}}" alt="">
          <h3 class="blog-title">{{ page.title }}</h3>
          <p><strong>Time to Read: {{ content | reading_time_as_s }}</strong></p>

          {{content}}

          <div> Tags:
            {% for tag in page.tags %}
            <a href="{{site.baseurl}}/tag/{{ tag | slugify }}"> {{ tag }} </a> |
            {% endfor %}
          </div>
        </article><!-- End .blog-post -->


        <!-- RECENT POSTS -->
        <div class="recent-posts clearfix">
            
          <h4 class="sub-title">Recent Posts</h4>
          {% for post in site.posts limit:1 %}
          <div class="one-half">
            <div class="post-date animated">
              <div>{{post.date | date_to_string | slice: 3, 4}}</div>
            <div class="day">{{post.date | date_to_string | slice: 0, 2}}</div>
            </div>
            <!-- End post-date -->
            <div class="post-content">
              <h5 class="title"><a href="{{ post.url }}">{{post.title}}</a></h5>
              <p>{{ post.teaser }}</p>
            </div><!-- content -->
          </div><!-- End .one-half -->
          {% endfor %}
          {% for post in site.posts limit:1 offset:1%}
          <div class="one-half last">
            <div class="post-date animated" data-animate="fadeInDown" data-animate-delay="1000">
              <div>{{post.date | date_to_string | slice: 3, 4}}</div>
            <div class="day">{{post.date | date_to_string | slice: 0, 2}}</div>
            </div><!-- End post-date -->
            <div class="post-content">
              <h5 class="title"><a href="{{ post.url }}">{{post.title}}</a></h5>
              <p>{{ post.teaser }}</p>
            </div><!-- content -->
          </div><!-- End .one-half -->
          {% endfor %}
        </div><!-- End .recent-posts -->
        
      </div><!-- End .three-fourths -->

      {% include sidebar.html %}

      </div><!-- End .container -->
    </div><!-- End .sect-4 -->
